<section class="about" id="about">
    <div class="container about__container">
        <label class="about__pre-text">tradition and love</label>
        <h2 class="about__title" >how it's made?</h2>        
        <ul class="about-list list">
            <li class="about-list__item">
                <picture class="about_card">
                    <source
                        srcset="./images/desktop/display-x1/desktop-mukalo-x1.png 1x, ./images/desktop/display-x2/desktop-mukalo-x2.png 2x"
                        media="(min-width:1200px)">
                    <source
                        srcset="./images/tablet/display-x1/tablet-mukalo-x1.png 1x, ./images/tablet/display-2x/tablet-mukalo-x2.png 2x"
                        media="(min-width:768px)">
                    <source srcset="./images/mobile/Display-x1/mobi-mukalo-x1.png 1x, ./images/mobile/Display-x2/mobi-mukalo-x2.png 2x"
                        media="(min-width:320px)">
                    <img class="about__image-cow" src="./images/mobile/Display-x1/mobi-mukalo-x1.png " alt="коровка">
                </picture>
            </li>
            <li class="about-list__item">
                <p class="about__text-one"> Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
                    lorem eget, egestas eros.
                    Maecenas eleifend erat at justo fringilla.</p>
                <p class="about__text-two">
                    Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
                    Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
                    Aliquam erat volutpat. Aenean accumsan.
                </p>
                <button type="button" class="button about-btn" data-aboutmodal-open>Read more
                    <svg class="about-btn__icon" width="5" height="8">
                        <use href="./images/sprite.svg#icon-next2">
                        </use>
                    </svg>
                </button>
            </li>
        </ul>           
    </div>
 
</section>