<div class="container header__container">
  <a href="./index.html" class="logo">
    <img
      class="logo__icon"
      srcset="./images/logo-x1.png 1x, ./images/logo-x2.png 2x"
      src="./images/logo-x1.png"
      alt="logo"
      width="199"
      height="50"
    />
  </a>
  <nav class="header-nav yacor">
    <ul class="list header-list">
      <li class="header-list__item">
        <a href="./index.html" class="link header-list__link header-list__link--current">Home</a>
      </li>
      <li class="header-list__item">
        <a href="#reviews" class="link header-list__link">About us</a>
      </li>
      <li class="header-list__item">
        <a href="#about" class="link header-list__link">How it’s made?</a>
      </li>
      <li class="header-list__item">
        <a href="#products" class="link header-list__link">Our products</a>
      </li>
      <li class="header-list__item">
        <a href="#contacts" class="link header-list__link">Contact</a>
      </li>
    </ul>
  </nav>
  <button
    class="header-btn-menu js-open-menu"
    type="button"
    aria-expanded="false"
    aria-controls="mobile-menu"
  >
    <svg class="header-btn-menu__icon" width="30" height="20">
      <use href="./images/sprite.svg#icon-icon-menu"></use>
    </svg>
  </button>
  <button class="button header__button" type="button" data-mainmodal-open>
    Buy now
    <svg class="btn__icon" width="4" height="8">
      <use href="./images/sprite.svg#icon-next2"></use>
    </svg>
  </button>
</div>
