<div class="menu-container js-menu-container" id="mobile-menu">

    <button class="menu-container__close-button menu-close js-close-menu">
        <svg class="menu-button__icon-cross" width="14" height="14">
            <use  href="./images/sprite.svg#icon-close-black-18dp-2-1-1"></use>
        </svg>
    </button>

  <button type="button" class="menu-container__menu-button buttonchic">Buy now
        <svg class="menu-container__menu-button-icon" width="5" height="8">
            <use href="./images/sprite.svg#icon-next2"></use>
        </svg>
    </button>
    <nav>
        <ul class="mobile-menu__list list yacor">
            <li class="mobile-menu__item">
                <a href="#heroy" class="mobile-menu__link link current">Home</a>
            </li>
            <li class="mobile-menu__item">
                <a href="#heroy" class="mobile-menu__link link">About us</a>
            </li>
            <li class="mobile-menu__item">
                <a href="#about" class="mobile-menu__link link">How it’s made?</a>
            </li>
            <li class="mobile-menu__item ">
                <a href="#products" class="mobile-menu__link link ">Our products</a>
            </li>
            <li class="mobile-menu__item">
                <a href="#contacts" class="mobile-menu__link link ">Contact</a>
            </li>
        </ul>
    </nav>
</div>
   
    <!--<script defer src="/menu.js"></script>-->


    
    