<div data-location class="modal is-hidden">
    <div class="modal__view">
        <button data-location-close class="modal__close" type="button">
            <svg class="modal__cloused--icon"><use href="./images/sprite.svg#icon-close-black-18dp-2-1-1">
            </use></svg>
        </button>
        <p class="modal__paragraf">the central office of the company can be found here</p>
        <iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d41543.29583594269!2d36.18018327910156!3d49.4002819!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d8a33d5d733d87%3A0x8ceb46131c16fb05!2z0KDQltCQ0JLQp9CY0KbQrNCa0JAg0JrQntCg0IbQktCa0JA!5e0!3m2!1sru!2sua!4v1633751250383!5m2!1sru!2sua" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>