<div class="is-hidden modal" data-aboutmodal>
    <div class="modal__view modal-about" >
        <button type="button" class="modal-about__btn-close" data-aboutmodal-close>
            <svg class="modal-about__btn-close-icon" width="14" height="14">
                <use href="./images/sprite.svg#icon-close-black-18dp-2-1-1"></use>
            </svg>
        </button>
        <b class="modal-about__title">The advantages of our products</b>
        <p  class="modal-about__text"> The main advantage of consuming dairy products is their ability to have a beneficial effect on the intestinal microflora. They also contain calcium and vitamin D, which strengthen bones and prevent the development of cancerous tumors. The
        most valuable source of health is milk.              If you want to know more about our products, please leave a request.</p>        
        <form action="#" class="modal-about-form">  
            <label for="input-tel" class="modal-about-form-field__label">Your phone number</label>
            <span class="input3-wrapper">
                <input required type="tel" name="modal-tel" id="input-tel" class="modal-about-form-field__input" placeholder=" +38 (067) 000 00 00" >                    
            </span>                                       
            <button type="submit" class="form3-btn" >Call back
            <svg class="modal-about-form-field__icon" width="18" height="18">
                <use href="./images/sprite.svg#icon-phone-black-18dp-1"></use>
            </svg>
        </button>
        </form>        
    </div>
</div>