
    <section  class="products container" id="products">
        
    <p class="products__text">100% natural</p>
    <h2 class="products__heading">products</h2>
    <ul class="products-list list">
        <li id="card001" class="products-list__products-item products-list__products-item--color _anim-transform">
            <picture>
                <source srcset="./images/desktop/display-x1/desktop-icecream1-x1.png 1x, 
                ./images/desktop/display-x2/desktop-icecream1-x2.png 2x"
                media="(min-width:1200px)" type="image/png"/>
                <source srcset="./images/tablet/display-x1/tablet-icecream1-x1.png 1x, 
                ./images/tablet/display-2x/tablet-icecream1-x2.png 2x"
                media="(min-width:768px)" type="image/png"/>       
                <source srcset="./images/mobile/Display-x1/mobi-icecream1-x1.png 1x, 
                ./images/mobile/Display-x2/mobi-icecream1-x2.png 2x" 
                media="(max-width:767px)" type="image/png"/>
                <img class="products-list__image" src="./images/mobile/Display-x1/mobi-icecream1-x1.png" width="249" height="252" alt="ice cream">
            </picture>
            <div class="products-list__description">
                <h3 class="products-list__heading">ice cream</h3>
                <!--<span class="products-list__horizontal-scrolling">
                <img class="products-list__horizontal-scrolling-points" src="./images/png/points.png" width="26" height="6"
                    alt="dots">-->
                <!--<svg class="products-list__horizontal-scrolling-point" width="6" height="6">
                    <use href="./images/sprite.svg#icon-points-2"></use>
                </svg>
                </span>-->
                <p class=" products-list__text products-list__text--mobile">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                aliqua facilisis.</p>
                <p class=" products-list__text products-list__text--tablet">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
            
                <a href="#card002" class="products-list__button">
                    <svg class="products-list__button-icon" width="10" height="10">
                        <use href="./images/sprite.svg#icon-arrow-right2"></use>
                    </svg>
                </a>
            </div>
            
                
                
        </li>
        <li id="card002" class="products-list__products-item products-list__products-item--color _anim-transform">
            <picture>
                <source srcset="./images/desktop/display-x1/desktop-icecream2-x1.png 1x, 
                ./images/desktop/display-x2/desktop-icecream2-x2.png 2x"
                media="(min-width:1200px)" type="image/png"/>
                <source srcset="./images/tablet/display-x1/tablet-icecream2-x1.png 1x, 
                ./images/tablet/display-2x/tablet-icecream2-x2.png 2x"
                media="(min-width:768px)" type="image/png"/>       
                <source srcset="./images/mobile/Display-x1/mobi-icecream2-x1.png 1x, 
                ./images/mobile/Display-x2/mobi-icecream2-x2.png 2x" 
                media="(max-width:767px)" type="image/png"/>
                <img class="products-list__image" src="./images/mobile/Display-x1/mobi-icecream2-x1.png" width="249" height="252" alt="ice cream">
            </picture>
                
            <div class="products-list__description">
                <h3 class="products-list__heading">ice coffee</h3>
                <!--<span class="products-list__horizontal-scrolling">
                    
                    <svg class="products-list__horizontal-scrolling-point" width="6" height="6">
                        <use href="./images/sprite.svg#icon-points-2"></use>
                    </svg>
                    
                </span>-->
                <p class=" products-list__text products-list__text--mobile">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                aliqua facilisis.</p>
                <p class=" products-list__text products-list__text--tablet">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                <a href="#card003" class="products-list__button">
                    <svg class="products-list__button-icon" width="10" height="10">
                        <use href="./images/sprite.svg#icon-arrow-right2"></use>
                    </svg>
                </a>
            </div>
        </li>
        <li id="card003" class="products-list__products-item products-list__products-item--color _anim-transform">
            
            <picture>
                <source srcset="./images/desktop/display-x1/desktop-icecream3-x1.png 1x, 
                ./images/desktop/display-x2/desktop-icecream3-x2.png 2x"
                media="(min-width:1200px)" type="image/png"/>
                <source srcset="./images/tablet/display-x1/tablet-icecream3-x1.png 1x, 
                ./images/tablet/display-2x/tablet-icecream3-x2.png 2x"
                media="(min-width:768px)" type="image/png"/>       
                <source srcset="./images/mobile/Display-x1/mobi-icecream3-x1.png 1x, 
                ./images/mobile/Display-x2/mobi-icecream3-x2.png 2x" 
                media="(max-width:767px)" type="image/png"/>
                <img class="products-list__image" src="./images/mobile/Display-x1/mobi-icecream3-x1.png" width="249" height="252" alt="ice cream">
            </picture>
             
            <div class="products-list__description">

                <h3 class="products-list__heading">milkshakes</h3>
                <!--<span class="products-list__horizontal-scrolling">
                    <svg class="products-list__horizontal-scrolling-point" width="6" height="6">
                        <use href="./images/sprite.svg#icon-points-2"></use>
                    </svg>
                </span>-->
                <p class=" products-list__text products-list__text--mobile">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                aliqua facilisis.</p>
                <p class=" products-list__text products-list__text--tablet">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                <a href="#card001" class="products-list__button">
                    <svg class="products-list__button-icon" width="10" height="10">
                        <use href="./images/sprite.svg#icon-arrow-right2"></use>
                    </svg>
                </a>
            </div>
        </li>
    </ul>
</section>
