<section class="reviews" id="reviews">
    <div class="reviews__comment container">

        <div class="reviews__slides">
            <input class="radio" type="radio" name="com" id="r1" checked>
            <input class="radio" type="radio" name="com" id="r2">
            <input class="radio" type="radio" name="com" id="r3">
            <input class="radio" type="radio" name="com" id="r4">
            <input class="radio" type="radio" name="com" id="r5">
            <input class="radio" type="radio" name="com" id="r6">
            <input class="radio" type="radio" name="com" id="r7">
            <input class="radio" type="radio" name="com" id="r8">
            <input class="radio" type="radio" name="com" id="r9">
            <input class="radio" type="radio" name="com" id="r10">
            
            <div class="reviews__slide s1">
                <img class="reviews__img" src="./images/reviews/viktor.png" alt="photo">
                <div class="container-comment">
                    <article class="comment">I am a team leader on this project. I have been doing code review and working on JS
                        animations</article>
                    <div class="gradient">
                    </div>
                </div>
            
                <div class="slide-p">
                    <p>
                        Viktor, Kryvyi Rih
                    </p>
                </div>
            </div>

            <div class="reviews__slide">
                <img class="reviews__img" src="./images/reviews/vika-min.jpg" alt="photo">
                <div class="container-comment">
                    <article class="comment">Привет!
                        Я - Виктория, из Днепра. Прохожу обучение на курсе FullStack GoIt. На данный момент scrum-master в командном
                        проекте по
                        HTML-CSS.</article>
                    <div class="gradient">
                    </div>
                </div>
            
                <div class="slide-p">
                    <p>
                        Виктория, Днепр
                    </p>
                </div>
            </div>
            
            <div class="reviews__slide">
                <img class="reviews__img" src="./images/reviews/dima-min.jpg" alt="photo">
                <div class="container-comment">
                    <article class="comment">То что вы читаете, было не без труда создано мной</article>
                    <div class="gradient">
                    
                    </div>
                </div>
                
                <div class="slide-p">
                    <p >
                        Дмитрий, Киев
                    </p>
                </div>
            </div>

            <div class="reviews__slide">
                <img class="reviews__img" src="./images/reviews/natalia-min.jpg" alt="photo">
                <div class="container-comment">
                    <article class="comment">Сделала мобильное меню и карточки товара. Рада быть частью этой замечательной команды!</article>
                    <div class="gradient">
                    </div>
                </div>
                

                <div class="slide-p">
                    <p>
                        Наталья, Днепр
                    </p>
                </div>
            </div>

            <div class="reviews__slide">
                <img class="reviews__img" src="./images/reviews/kateryna-min.jpg" alt="photo">
                <div class="container-comment">
                    <article class="comment">Секция "Сontаcts" делалась на одном дыхании, благодаря вдохновению, полученному от слаженной работы нашей замечательной
                    команды!</article>
                    <div class="gradient">
                    </div>
                </div>
                

                <div class="slide-p">
                    <p>
                        Екатерина, Киев
                    </p>
                </div>
            </div>

            <div class="reviews__slide">
                <img class="reviews__img" src="./images/reviews/svetlana.jpg" alt="photo">
                <div class="container-comment">
                    <article class="comment">Изменения — это всегда страшно. Но никто не изменит за вас вашу жизнь. Вы понимаете, какой должны сделать выбор, но
                    несмотря на страх, движетесь вперед. Это главное правило успеха.</article>
                    <div class="gradient">
                    </div>
                </div>

                <div class="slide-p">
                    <p>
                        Светлана, Никополь
                    </p>
                </div>
            </div>

            <div class="reviews__slide">
                <img class="reviews__img" src="./images/reviews/leonid-min.jpg" alt="photo">
                <div class="container-comment">
                    <article class="comment">Сделал секцию advantages, modal-footer, Пользовался Js для модалки.</article>
                    <div class="gradient">
                    </div>
                </div>

                <div class="slide-p">
                    <p>
                        Леонид, Запорожье
                    </p>
                </div>
            </div>

            <div class="reviews__slide">
                <img class="reviews__img" src="./images/reviews/romana-min.jpg" alt="photo">
                <div class="container-comment">
                    <article class="comment">1,5 роки назад я була на керівній посаді в страховій компанії, зараз я мама і дружина, а менше ніж через 6 місяців я
                    стану Full stack develovper. Розробляла секцію хедер та герой у цьому проекті. Дякую усій команді за гарну роботу.</article>
                    <div class="gradient">
                    </div>
                </div>

                <div class="slide-p">
                    <p>
                        Романна Ясінська, Львів
                    </p>
                </div>
            </div>

            <div class="reviews__slide">
                <img class="reviews__img" src="./images/reviews/valentina-min.jpg" alt="photo">
                <div class="container-comment">
                    <article class="comment">Бородай Валентина с маленького города Покров в Днепропетровской обл, в котором нет даже ни одной веб-студии)) оператор
                    АЗС. Благодарность всем членам команды за терпение и помощь)</article>
                    <div class="gradient">
                    </div>
                </div>

                <div class="slide-p">
                    <p>
                        Валентина, Покров
                    </p>
                </div>
            </div>

            <div class="reviews__slide">
                <img class="reviews__img" src="./images/reviews/anton-min.jpg" alt="photo">
                <div class="container-comment">
                    <article class="comment">Разрабатывал секцию "Gallery" и основное
                    модальное окно. В проекте использовал такие технологи: html, CSS, Animate CSS, node.js, с
                    помощью таких утилит: VSCode, Git/GitHub, Figma.</article>
                    <div class="gradient">
                    </div>
                </div>

                <div class="slide-p">
                    <p>
                        Антон, Кривой Рог
                    </p>
                </div>
            </div>

        </div>

        <div class="reviews__navigator">
            <label for="r1" class="bar bar1"></label>
            <label for="r2" class="bar"></label>
            <label for="r3" class="bar"></label>
            <label for="r4" class="bar"></label>
            <label for="r5" class="bar"></label>
            <label for="r6" class="bar"></label>
            <label for="r7" class="bar"></label>
            <label for="r8" class="bar"></label>
            <label for="r9" class="bar"></label>
            <label for="r10" class="bar"></label>
        </div>

    </div>


    

</section>